# Directorios a ignorar
.DS_Store
/dist
target/

# local env files
.env.local
.env.*.local
.env
!.devcontainer/.env

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
