# Mantener los directorios de data para permitir la creacion del devcontainer
.devcontainer/data/**
!.devcontainer/data/postgres/.gitkeep
!.devcontainer/data/pgadmin/.gitkeep

# Directorios a ignorar
.DS_Store
target/

# local env files
.env.local
.env.*.local
.env
!.devcontainer/.env

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
