# Mantener los directorios de data para permitir la creacion del devcontainer
.devcontainer/data/**
!.devcontainer/data/postgres/.gitkeep
!.devcontainer/data/pgadmin/.gitkeep

# Directorios a ignorar
.vscode/
