root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.java]
indent_size = 4
ij_java_continuation_indent_size = 4

[*.xml]
indent_size = 4

[**/pom.xml]
indent_size = 4

[*.properties]
indent_size = 4

[*.md]
# Preserve two-space line breaks in Markdown
trim_trailing_whitespace = false
